*,
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

img {
    max-width: 100%;
    height: auto;
}

.header-img {
    max-width: 40px;
    height: auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#cor {
    height: 100vh;
    background: linear-gradient(to bottom, #f3d64e 0%, #78c5d6 50%, #008bba 100%);
}

#Imagem {
    text-align: center;
    margin-top: 20%;
}

#Logo {
    width: 400px;
}

#form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#Form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 10px;
    align-items: flex-start;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#Form h1 {
    align-self: center;
    margin-bottom: 20px;
}

#Form label {
    margin-left: 10px;
}

#Form input {
    border-radius: 10px;
    padding: 6px;
    border: solid 1px;
    width: 90%;
    margin-left: 10px;
}

#button-container {
    width: 100%;
    display: flex;
    justify-content: center;
}

button {
    border-radius: 10px;
    padding: 6px;
    border: solid 2px #A1D298;
    background-color: #52A7C8;
    color: #FFFFFF;
    width: 70%;
    cursor: pointer;
}

button:hover {
    opacity: 0.9;
}

footer {
    background-color: #78c5d6;
    text-align: center;
    color: #ffffff;
    padding: 10px 0;
    position: relative;
    margin-top: 10px;
}

footer p {
    margin: 0;
}


@media (max-width: 600px) {
    main {
        display: flex;
        flex-direction: column;
    }

    #cor {
        height: 30vh;
    }

    #Imagem {
        margin-top: 10px;
        margin-left: 5px;
        width: 350px;
    }

    #form-container {
        height: auto;
    }

    #Form {
        width: 80%;
    }

    #button-container {
        justify-content: flex-start;
        margin-left: 10px;
    }
}