<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contato</title>
    <link rel="stylesheet" href="../assets/css/cadastro_contato.css">
    <script src="../assets/js/cadastro_contato.js"></script>
</head>

<body>
    <header>
        <div id="Pages">
            <a href="#">Inicio</a>
            <a href="#">Rotina</a>
            <a href="#">Dicas</a>
        </div>
        <div>
            <figure>
                <a href="#"><img src="../assets/images/usuario.png" alt="Imagem de Perfil"></a>
                <a href="#"><img src="../assets/images/configuracoes.png" alt="Imagem de Configurações"></a>
            </figure>
        </div>
    </header>
    <main>
        <div id="pt1">
            <figure><img src="../assets/images/Logo.png" alt="Imagem da Logo do Site"></figure>
            <p>A organização motiva a ação</p>
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3751.036606306356!2d-43.995169924773094!3d-19.922862181464!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xa696fabcd470ed%3A0x79ebb3d3cea6b4ea!2sPontif%C3%ADcia%20Universidade%20Cat%C3%B3lica%20de%20Minas%20Gerais%20-%20Cora%C3%A7%C3%A3o%20Eucar%C3%ADstico!5e0!3m2!1spt-BR!2sbr!4v1717006605954!5m2!1spt-BR!2sbr"
                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
            <p>Pontifícia Universidade Católica de Minas Gerais - Coração Eucarístico</p>
            <p> Endereço: R. Dom José Gaspar, 500 - Coração Eucarístico, Belo Horizonte - MG </p>
        </div>
        <div id="pt2">
            <form id="Form">
                <label for="nome">Nome</label>
                <input type="text" name="nome" id="nome" required>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
                <label for="assunto">Assunto</label>
                <input type="text" name="assunto" id="assunto" required>
                <label for="menssagem">Menssagem</label>
                <textarea name="menssagem" id="menssagem" required></textarea>
                <div>
                    <button type="reset">Limpar</button>
                    <button type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </main>
    <footer>
        <div class="footer-bar"></div>
        <p>@ Todos os direitos reservados</p>
    </footer>
</body>

</html>