*{
    margin:0;
    padding:0;
    list-style:none;
    vertical-align:baseline;
}

header{
    height: 78px;
    width: 1440px;
    background-color: #71C9EC;
}
 
.buttonsheader {
    display: flex;
    justify-content: space-between;
}

#bordas{
    transition: all .3s;
}

#bordas:hover{
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

#bordas:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}